body{
font-family:Arial;
background:#f4f6f8;
margin:0;
}

header{
background:#0077ff;
color:white;
padding:20px;
text-align:center;
}

.container{
padding:20px;
max-width:800px;
margin:auto;
}

input{
display:block;
margin:10px 0;
padding:12px;
width:100%;
border-radius:6px;
border:1px solid #ccc;
}

button{
padding:12px;
background:#0077ff;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
width:100%;
}

button:hover{
background:#0055cc;
}

.services{
margin-top:20px;
}

.card{
background:white;
padding:15px;
margin-bottom:15px;
border-radius:10px;
box-shadow:0 3px 8px rgba(0,0,0,0.15);
}

.card img{
width:80px;
height:80px;
border-radius:50%;
object-fit:cover;
}

.card h3{
margin:5px 0;
}

.delete{
background:red;
margin-top:10px;
}

.whatsapp{
background:#25D366;
margin-top:10px;
}
